<style>
/*————————— 背景设置require ———————————*/
body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}
</style>

<!-- 科技-点与线 背景 -->
<div id="particles-js" class="container-fluid">



  <!-- 导航条 -->
  <nav>
    <a href="">文档</a> | <a href="">联系我们</a>
  </nav>


  <!-- 核心内容   -->
  <article>
    <!-- 页头 -->
    <header>
      <!-- Logo或标题  -->
      <div class="text-center">
        <!-- 标题 -->
        <h1 id="title">牧云</h1>
        <!-- <br> -->
        <!-- 描述 -->
        <h2 id="description">专用于集中管理分散云资源的中控台</h2> 
        <br> 
      </div>        
    </header>
    <!--  -->

    <!-- 登录表单 -->
    <form role="form" class="row">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group ">
        <div class="input-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-12"><br></div>
      <div class="col-md-6 col-sm-6 col-xs-6 text-left">
        <a href="" class="login_account">+ 注册账号</a>  
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 pull-right text-right">
        <a href="" class="login_account">忘记密码 ?</a>  
      </div>
    </form>
    <!--  -->
  </article>
  <!--  -->


  <!-- 页尾 -->
  <footer class="text-center" id="footer">
    <a href="https://github.com/liangchaob">© 2016 liangchaob</a>
  </footer>
  <!--  -->

</div>
<!--  -->











<script> 
/* ---- 科技-点与线 config ---- */
particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 40,
      "density": {
        "enable": true,
        "value_area": 1000
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 10,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 1.5,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 0.3
    },
    "move": {
      "enable": true,
      "speed": 2,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": true,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false,
        "mode": "push"
      },
      "onclick": {
        "enable": false,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
</script>