<!DOCTYPE html>
<html>
  <head>
    <title>FifthApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://odor1hjie.bkt.clouddn.com/particles.js"></script>
  </head>


  <body>
    <%= yield %>

  </body>
</html>
